@model EventViewModel
<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary"> Edit Event</h2>
			<hr />
		</div>
		<!--This aps-for are tag helper-->
		<div class="mb-3 row">
			<label asp-for="Event.EventName"></label>
			<input asp-for="Event.EventName" disabled type="text" class="form-control"></input>
			<span asp-validation-for="Event.EventName" class="text-danger"></span>
		</div>

		<div class="mb-3 row">
			<label asp-for="Event.Start" class="col-form-label"></label>
			<input asp-for="Event.Start" disabled type="datetime-local" class="form-control" id="startDateTime"></input>
			<span asp-validation-for="Event.Start" class="text-danger"></span>
		</div>

		<div class="mb-3 row">
			<label asp-for="Event.End" class="col-form-label"></label>
			<input asp-for="Event.End" disabled type="datetime-local" class="form-control" id="endDateTime"></input>
			<span asp-validation-for="Event.End" class="text-danger"></span>
		</div>

		<div class="mb-3 row">
			<label asp-for="Event.MaximumParticipants"></label>
			<input asp-for="Event.MaximumParticipants" disabled type="number" class="form-control"></input>
			<span asp-validation-for="Event.MaximumParticipants" class="text-danger"></span>
		</div>

		<div class="mb-3 row">
			<label asp-for="Event.DaysBeforeTheEvent"></label>
			<input asp-for="Event.DaysBeforeTheEvent" disabled type="number" class="form-control"></input>
			<span asp-validation-for="Event.DaysBeforeTheEvent" class="text-danger"></span>
		</div>

		<div class="mb-3 row">
			<label asp-for="Event.Status" class="col-form-label"></label>
			<select asp-for="Event.Status" class="form-control" disabled id="status">
				<option value="open">Open</option>
				<option value="closed">Closed</option>
			</select>
			<span asp-validation-for="Event.Status" class="text-danger"></span>
		</div>

		<div class="mb-3 row">
			<label asp-for="Event.Remarks" class="col-form-label"></label>
			<input asp-for="Event.Remarks" disabled type="text" class="form-control"></input>
			<span asp-validation-for="Event.Remarks" class="text-danger"></span>
		</div>
		<!--I have to create a new object called event attribute through this checkboxes-->
		<div class="mb-3 row">
			<legend>Choose your event's types:</legend>
			<label>
				<input  type="checkbox" disabled name="EventType[]" value="10km" />
				10km
			</label>
			<label>
				<input type="checkbox" disabled name="EventType[]" value="HM" />
				Half Marathon
			</label>
			<label>
				<input type="checkbox" disabled name="EventType[]" value="M" />
				Marathon
			</label>
		</div>



		<div class="row ">
			<!--if it's smaller than medium it will take 6 col-->
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-primary form-control">Create</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-contoller="Event" asp-action="Index" class="btn btn-outline-secondary form-control">Back to List</a>
			</div>
		</div>
	</div>
</form>
@section scripts {
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
